.title{
    text-align: center;
    margin-bottom: 70px;
}
/*section*/
    /*banner*/
.banner{
    height:600px;
    background:url(../images/banner.png) no-repeat;
    background-size:100%;
}

    /*good*/
.good{
    overflow:hidden;
}
.good-left{
    float:left;
}
.good-left ul{
    padding-bottom:50px;
    border-right:1px dashed #dedede;
}
.good-left ul li{
    width:230px;
    padding-top:82px;
    margin:0 40px;
}
.good-left ul li:nth-child(1){
    background:url(../images/good-1.png) no-repeat center top;
}
.good-left ul li:nth-child(2){
    background:url(../images/good-2.png) no-repeat center top;
}
.good-left ul li:nth-child(3){
    background:url(../images/good-3.png) no-repeat center top;
}
.good-left p{
    text-align: center;
    margin-bottom: 30px;
}
.good-left span{
    color:#999;
}
.good-right ul{
    margin-top:48px;
    padding-left:52px;
}
.good-right ul li{
    float:none;
}
.good-right ul li:nth-child(2n+1){
    color:#26a26f;
    background:url(../images/pic1.png) no-repeat -35px -40px;
    text-indent: 30px;
    margin-bottom:6px;
}
.good-right ul li:nth-child(2n){
    color:#999;
    margin-bottom: 30px;
}
    
    /*how*/
.how{
    margin-top:90px;
    overflow:hidden;
}
.how p{
    text-align: center;
    margin-bottom: 60px;
}
.how ul{
    float:left;
}
.how ul li{
    width:300px;
    overflow:hidden;
    margin-bottom: 90px;
}
.how ul li div{
    float:left;
}
.how ul li div:nth-child(1){
    width:60px;
    height:60px;
    background-color: #fff;
    color:#29b078;
    border-radius: 50%;
    text-align: center;
    line-height:60px;
    margin-right:22px;

}
.how ul li div:nth-child(2){
    width:140px;
    line-height:30px;
    color:#999;
    font-size:80%;
}
.how ul li div:nth-child(3){
    float:right;
    width:30px;
    height: 30px;
    background:url(../images/pic1.png) no-repeat 0 -30px;
    margin-top:18px;
    margin-right:26px;
}

    /*show*/
.show{
    overflow:hidden;
    margin-bottom:120px;
}
.show p{
    text-align: center;
    margin-bottom: 70px;
}
.show ul{
    float:left;
}
.show ul li{
    width: 270px;
    height: 370px;
    background-color: #fff;
    border-radius: 5px;
    margin-right:36px;
    box-shadow: 0 2px 5px 1px #e2e2e2 ;
}
.show ul li:last-child{
    margin-right:0;
}
.show ul li p:nth-child(1){
    width: 108px;
    height: 108px;
    background: url(../images/show-1.png) no-repeat;
    margin-top:20px;
    margin-bottom:30px;
}
.show ul li:nth-child(2) p:nth-child(1){
    background: url(../images/show-2.png) no-repeat;
}
.show ul li:nth-child(3) p:nth-child(1){
    background: url(../images/show-3.png) no-repeat;
}
.show ul li:nth-child(4) p:nth-child(1){
    background: url(../images/show-4.png) no-repeat;
}
.show ul li div{
    padding:0 30px;
    color:#999;
}
.show .show-dot{
    margin-top:20px;
    left:50%;
    transform:translate(47%,0);
    width:100%;
}
.show .show-dot li{
    background:#fff;
    border-radius: 50%;
    width:10px;
    height: 10px;
    margin:0 2px;
    box-shadow: 0 1px 1px 1px #e2e2e2;
}
.show .show-dot li:nth-child(1){
    background:#29b078;
    box-shadow: none;
}

    /*cooperation*/
.cooperation{
    overflow:hidden;
}
.cooperation ul{
    float:left;
}
.cooperation ul li{
    height: 176px;
    width: 224px;
}
.cooperation ul li:nth-child(1){
    background:#fff url(../images/c-1.png) no-repeat center;
}
.cooperation ul li:nth-child(2){
    background:#fff url(../images/c-2.png) no-repeat center;
}
.cooperation ul li:nth-child(3){
    background:#fff url(../images/c-3.png) no-repeat center;
    box-shadow: 0 1px 2px 2px #d6d6d6;
    margin-right:3px;
}
.cooperation ul li:nth-child(4){
    background:#fff url(../images/c-4.png) no-repeat center;
}
.cooperation ul li:nth-child(5){
    background:#fff url(../images/c-5.png) no-repeat center;
}

/*link*/
.link{
    padding-top:20px;
    margin-top: 90px;
    background:#fff;
    color:#999;
    padding-bottom:10px;
}
.link ul li{
    width:84px;
    background:url(../images/dot.png) no-repeat left center;
    text-indent: 10px;
    margin-bottom:10px;
    margin-right:42px;
    height: 22px;
}
.link ul li:nth-child(1){
    border-bottom:1px solid #26a26f;
    height: 21px;
}
.link ul li:nth-child(10n){
    margin-right:0;
    width:60px;
}
